<div class="jumbotron text-center" ng-controller="AboutController">
    <h1>{{homeTextValue}}</h1>
    <h2 ng-show="showValue">{{"I am the Game"}}</h2>
    
</div>

<p style="font-weight:bold"><pre>
I am “Virat Patil”
Working as a “Sr. Consultant” with “Capgemini” at “Mumbai ” India.
I have 6+ Years of experience in Rich UI Development using Flex , HTML CSS Javascript , Angular JS, Jquery , Bootstrap
having knowledge on SQL Server
My responsibility includes design and development of user interface using Front End
technologies, providing technical support and knowledge transfer to my co-workers.

Implemented agile development practices according to the application requirements for every project
I have a good knowledge in Web Enterprise application development.
I have worked in different domain like Insurrance Domain , HealthCare Domain, Currently Pharmaetical Domain.
Also having experience in wireframing using wireframing tool balsimq that helps working faster and we can showcase the basic functionality to client
Making mockups is fast and you can generate more ideas and throw out bad one at moment and create a best solution
Strong analytical, presentation, problem solving ability
Ability to grasp and learn technologies which i am not aware of
</pre>   

    
</p>